<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aded64">  <td>23/12/12 15:00:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.executor()[pri:0, instance:Test_package.patch_TC1@3b27b497]">executor</td> 
  <td>main@1730813026</td>   <td></td> </tr>
<tr bgcolor="777e7b">  <td>23/12/12 15:00:53</td>   <td>2948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.executor()[pri:0, instance:Test_package.put_TC1@b1534d3]">executor</td> 
  <td>main@1730813026</td>   <td></td> </tr>
<tr bgcolor="b6d98e">  <td>23/12/12 15:00:39</td>   <td>-10786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.executor()[pri:0, instance:Test_package.get_TC1@5c5d6175]">executor</td> 
  <td>main@1730813026</td>   <td></td> </tr>
<tr bgcolor="6895f5">  <td>23/12/12 15:00:31</td>   <td>-19263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="del_TC1.executor()[pri:0, instance:Test_package.del_TC1@885e7ff]">executor</td> 
  <td>main@1730813026</td>   <td></td> </tr>
<tr bgcolor="c0d3a9">  <td>23/12/12 15:00:41</td>   <td>-8672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@7544ac86]">executor</td> 
  <td>main@1730813026</td>   <td></td> </tr>
</table>
