<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b6699">  <td>23/12/12 16:21:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_TC1.executor()[pri:0, instance:Test_package.patch_TC1@481ba2cf]">executor</td> 
  <td>main@1959451969</td>   <td></td> </tr>
<tr bgcolor="c59a93">  <td>23/12/12 16:21:23</td>   <td>-7691</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_TC1.executor()[pri:0, instance:Test_package.post_TC1@71e9ebae]">executor</td> 
  <td>main@1959451969</td>   <td></td> </tr>
<tr bgcolor="df6e9a">  <td>23/12/12 16:21:34</td>   <td>3592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_TC1.executor()[pri:0, instance:Test_package.put_TC1@2e48362c]">executor</td> 
  <td>main@1959451969</td>   <td></td> </tr>
<tr bgcolor="97d3ed">  <td>23/12/12 16:21:33</td>   <td>2263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_TC1.executor()[pri:0, instance:Test_package.get_TC1@46b61c56]">executor</td> 
  <td>main@1959451969</td>   <td></td> </tr>
</table>
